{% extends "base_generic.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<head>
    <script src="{% static 'js/house_list.js' %}"></script>
    <link href="{% static 'css/resident_list.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-table-filter-control.min.js' %}"></script>
</head>
<style>
    .detail-view:hover{
        background-color: white !important;
    }
</style>
<title>住户总览 - {{title}}</title>
<!-- 模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">模态框标题</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框内容 -->
                <div class="modal-body">
                    模态框内容..
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- 信息框 -->
<div class="sticky-top">
    <div class="toast position-absolute m-3 top-0 end-0 border-success text-success" id="toast">
        <div class="toast-body">
           Toast 一些内容
        </div>
      </div>
</div>

<div class="py-3 px-lg-5">
    <h2>住户总览</h2>
</div>

<div class="px-lg-5">
    <table id="table"
        data-locale="zh-CN"
        data-toggle="table"
        data-sortable="true"
        data-search="true"
        data-pagination="true"
        data-page-size="15"
        data-page-list="[10, 15, 20, 50, 100, All]"
        data-detail-view="true"
        data-detail-view-by-click="true"
        data-detail-view-icon="false"
        data-detail-formatter="houseDetailFormatter"
        data-filter-control="true"
        data-show-search-clear-button="true"
        >
    </table>
</div>

<script>
    var columns = [
        {field:'id',title:'编号',class:"id"},
        {field:'icon',title:' ',class:"icon",formatter:iconFormatter()},
        {field:'village_name',title:'村庄',sortable:true,class:"village_name",filterControl:'select'},
        {field:'grid_name',title:'微网格',sortable:true,class:"grid_name",filterControl:'input'},
        {field:'mgridID',title:'户号',sortable:true,class:"mgridID",filterControl:'input'},
        {field:'population',title:'人口',sortable:true,class:"population",filterControl:'input'},
        {field:'holder_name',title:'户主',sortable:true,class:"holder_name",filterControl:'input'},
        {field:'option',title:'操作',class:"option"}
    ]
    var house_data = []

    $(document).ready(function(){
        $('#toast').toast('hide');
    })

    $.ajax({

        url:'/api/houses/get_by_permission/',
        type:'GET',
        success:(data) => {
            var i = 0;
            data['houses'].forEach(element => {
                house_data[i] = {
                    'id':element.id,
                    'village_name':element.village_name,
                    'grid_name':element.grid_name,
                    'mgridID':element.mgridID,
                    'population':element.pop_count,
                    'holder_name':element.holder_name,
                    'option':operaFormatter(element.id,i)
                }
                i++;
            });
            $('#table').bootstrapTable('load',house_data)
            $('#table').bootstrapTable('hideLoading')
        }
    })

    function houseDetailFormatter(index,row,element){
        detail = document.createElement('table')
        detail.id = "d_table"
        element.append(detail)
        var columns = [
            [
                {title: '基本信息',colspan: 8,align: 'center'}
            ],
            [
                {field:'id',title:'编号',class:"id-x"},
                {field:'name',title:'姓名',sortable:true,class:"name"},
                {field:'sex',title:'性别',sortable:true,class:"sex"},
                {field:'age',title:'年龄',sortable:true,class:"age"},
                {field:'phone',title:'电话',sortable:true,class:"phone"},
                {field:'isLocalResident',title:'是否常住',sortable:true,class:"isLocalResident"},
                {field:'outLocation',title:'在外地点',sortable:true,class:"outLocation"},
                {field:'note',title:'备注',sortable:true,class:"note"}
            ]
        ];
        var res_data = [],extra_data = []

        //追加数据
        $.ajax({
            async:false,
            url:'/api/stemplate/get_by_permission/',
            type:'GET',
            success:(data) => {
                data['sTemplate'].forEach(element => {
                    if(element.obj == 'r'){
                        columns_ex = translateDatatypes(element.datatypes,element.id,element.title)
                        columns[0] = columns[0].concat(columns_ex['title'])
                        columns[1] = columns[1].concat(columns_ex['fields'])
                        $.ajax({
                            async:false,
                            url:'/api/stemplate/'+element.id+'/get_instances/',
                            type:'GET',
                            success:(data) => {
                                data['instances'].forEach(element => {
                                    //console.log(element.object_pk)
                                    var temp = translateInstances(element.data,element.template,element.object_pk)
                                    extra_data = extra_data.concat(temp)
                                });
                                //$('#loading').removeClass('d-flex')
                                //$('#loading').hide()
                            },
                            error:(error) => {
                                $('#toast').removeClass('border-success text-success border-danger text-danger')
                                        .addClass('border-danger text-danger')
                                $('#toast .toast-body').text("读取数据失败："+error.responseJSON.message)
                                $('#toast').toast('show');
                            }
                        })
                    }
                });
            },
            error:(error) => {
                $('#toast').removeClass('border-success text-success border-danger text-danger')
                        .addClass('border-danger text-danger')
                $('#toast .toast-body').text("读取数据失败："+error.responseJSON.message)
                $('#toast').toast('show');
            }
        })

        $.ajax({
            async:false,
            url:'/api/houses/'+row.id+'/get_residents/',
            type:'GET',
            success:(data) => {
                var i = 0;
                data['residents'].forEach(element => {
                    res_data[i] = {
                        'id':element.id,
                        'name':namelinkFormatter(element.id,element.name),
                        'sex':element.sex_display,
                        'age':element.age,
                        'phone':element.phone,
                        'isLocalResident':get_bool(element.isLocalResident),
                        'outLocation':element.outLocation,
                        'note':element.note
                    }
                    i++;
                });
                //console.log(extra_data)
                extra_data.forEach(element => {
                    //console.log(res_data.findIndex(x => x.id == element.id))
                    try{
                        Object.assign(res_data[res_data.findIndex(x => x.id == element.id)],element)
                    }
                    catch{
                        //不用处理
                    }
                });
                
                var $table = $('#d_table').bootstrapTable({
                    columns :columns,
                    data: res_data,
                    //classes:'table table-bordered table-hover table-sm'
                })
                $table.bootstrapTable('hideColumn', 'id')
                return $table.outerHTML
            }
        })
    }

    function operaFormatter(id,index){
        return [
            '<div class="text-center">',
            '    <a href="/house/'+id+'" role="button" class="btn btn-primary mx-lg-1 my-lg-0 my-1" id="info-'+id+'">',
            '        <i class="fa-solid fa-list"></i> 查看详情',
            '    </a>',
            {% if 'resident.can_c/d_house' in perms %}
            '    <button class="btn btn-danger mx-lg-1 my-lg-0 my-1" onclick="confirmDelete('+id+','+index+')" id="delete-'+id+'" data-bs-toggle="modal" data-bs-target="#myModal">',
            '        <i class="fa-solid fa-trash"></i> 删除',
            '    </button>',
            '</div>'
            {% endif %}
        ].join('')
    }

    $('#table').bootstrapTable({
        columns: columns,
        data: house_data,
        classes:'table table-bordered',
        onPostBody:function() {
            $('button[name="clearSearch"]').text("清空")
            $('thead > tr > th.village_name > div.fht-cell > div.filter-control > select > option:first-child').text('全部')
            $('thead > tr > th.grid_name > div.fht-cell > div.filter-control > input').attr('placeholder','筛选微网格')
            $('thead > tr > th.mgridID > div.fht-cell > div.filter-control > input').attr('placeholder','筛选户号')
            $('thead > tr > th.population > div.fht-cell > div.filter-control > input').attr('placeholder','筛选人口')
            $('thead > tr > th.holder_name > div.fht-cell > div.filter-control > input').attr('placeholder','筛选户主')
        }
    })
    $('#table').bootstrapTable('showLoading')
</script>

{% endblock %}