{% extends "base_generic.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<head>
    <script src="{% static 'js/resident_list.js' %}"></script>
    <link href="{% static 'css/resident_list.css' %}" rel="stylesheet">
</head>
<title>人员总览 - {{title}}</title>
<!-- 模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">模态框标题</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框内容 -->
                <div class="modal-body">
                    模态框内容..
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 信息框 -->
<div class="sticky-top">
    <div class="toast position-absolute m-3 top-0 end-0 border-success text-success" id="toast">
        <div class="toast-body">
           Toast 一些内容
        </div>
      </div>
</div>

<div class="py-3 px-lg-5">
    <h2>人员总览</h2>
</div>

<div class="px-lg-5">
    <table id="table"
        data-locale="zh-CN"
        data-toggle="table"
        data-sortable="true"
        data-search="true"
        data-pagination="true"
        data-page-size="15"
        data-page-list="[10, 15, 20, 50, 100, All]"
        data-show-footer="true"
        >
    </table>    
</div>

<script>
    var columns = [
        {field:'id',title:'编号',class:"id"},
        {field:'name',title:'姓名',sortable:true,class:"name"},
        {field:'sex',title:'性别',sortable:true,class:"sex"},
        {field:'age',title:'年龄',sortable:true,class:"age"},
        {field:'phone',title:'电话',sortable:true,class:"phone"},
        {field:'isLocalResident',title:'是否常住',sortable:true,class:"isLocalResident"},
        {field:'outLocation',title:'在外地点',sortable:true,class:"outLocation"},
        {field:'b_house',title:'户',sortable:true,class:"b_house"},
        {field:'note',title:'备注',sortable:true,class:"note"},
        {field:'option',title:'操作',class:"option"}
    ];
    var res_data = []

    $(document).ready(function(){
        load_Form()
        $('#toast').toast('hide');
    })

    $.ajax({
        async:false,
        url:'/api/residents/get_by_permission/',
        type:'GET',
        success:(data) => {
            var i = 0;
            data['residents'].forEach(element => {
                //console.log(element)
                res_data[i] = {
                    'id':element.id,
                    'name':element.name,
                    'sex':element.sex_display,
                    'age':element.age,
                    'phone':element.phone,
                    'isLocalResident':get_bool(element.isLocalResident),
                    'outLocation':element.outLocation,
                    'b_house':element.house_name,
                    'note':element.note,
                    'option':operaFormatter(element.id,i)
                }
                i++;
                globalThis.global_index = i;
            });
        }
    });
    $('#table').bootstrapTable({
        columns: columns,
        data:res_data,
        onPostBody:function(){
            load_Form()
        }
    })
    //$('#table').bootstrapTable('hideColumn','id')
</script>

{% endblock %}