{% extends "base_generic.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<head>
    <script src="{% static 'js/resident_list.js' %}"></script>
    <link href="{% static 'css/resident_list.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'js/xlsx.core.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/tableExport.min.js' %}"></script>
</head>
<style>
    {% if not user.is_superuser %}
    .village {
        display: none;
    }
    .mgrid {
        display: none;
    }
    {% endif %}
</style>
<title>人员总览 - {{title}}</title>
<!-- 模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">模态框标题</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框内容 -->
                <div class="modal-body">
                    模态框内容..
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 信息框 -->
<div class="sticky-top">
    <div class="toast position-absolute m-3 top-0 end-0 border-success text-success" id="toast">
        <div class="toast-body">
           Toast 一些内容
        </div>
      </div>
</div>

<div class="py-3 px-lg-5">
    <h2>
        人员总览
        {% if user.is_superuser %}
        <a href="{% url 'batch-add-residents-html' %}" class="btn btn-primary">批量添加人员信息</a>
        {% endif %}
    </h2>
</div>

<div class="px-lg-5">
    <div class="d-flex justify-content-center border rounded p-5" id="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <p class="h3 px-3 align-self-center">加载数据中，请稍后……</p>
    </div>
    <table id="table"
        data-locale="zh-CN"
        data-show-export="true"
        data-toggle="table"
        data-sortable="true"
        data-search="true"
        data-pagination="true"
        data-page-size="15"
        data-page-list="[10, 15, 20, 50, 100, All]"
        data-show-footer="true"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        >
    </table>    
</div>

<script>
    //window.jsPDF = window.jspdf.jsPDF
    var columns = [
        [
            {title: '基本信息',colspan: 12,align: 'center'}
        ],
        [
            {field:'id',title:'编号',class:"id-x"},
            {field:'village',title:'村庄',class:"village",filterControl:'select'},
            {field:'mgrid',title:'微网格',class:"mgrid",filterControl:'input'},
            {field:'name',title:'姓名',sortable:true,class:"name",filterControl:'input'},
            {field:'sex',title:'性别',sortable:true,class:"sex",filterControl:'select'},
            {field:'age',title:'年龄',sortable:true,class:"age",filterControl:'input'},
            {field:'phone',title:'电话',sortable:true,class:"phone",filterControl:'input'},
            {field:'isLocalResident',title:'是否常住',sortable:true,class:"isLocalResident",filterControl:'select'},
            {field:'outLocation',title:'在外地点',sortable:true,class:"outLocation",filterControl:'input'},
            {field:'b_house',title:'户',sortable:true,class:"b_house",filterControl:'input'},
            {field:'note',title:'备注',sortable:true,class:"note",filterControl:'input'},
            {field:'option',title:'操作',class:"option"}
        ]
    ];
    var extra_columns = [],extra_data = []
    var res_data = []

    $(document).ready(function(){
        {% if 'resident.can_c/d_resident' in perms %}
        load_Form()
        {% endif %}
        $('#toast').toast('hide');
    })
    //加入统计数据
    // /api/stemplate/get_by_permission/
    // if e.obj == 'r'
    //      扩展columns
    //      /api/stemplate/get_instances/
    //      追加数据
    //      重建表格
    $.ajax({
        async:false,
        url:'/api/stemplate/get_by_permission/',
        type:'GET',
        success:(data) => {
            //option = {field:'option',title:'操作',class:"option"}
            data['sTemplate'].forEach(element => {
                if(element.obj == 'r'){
                    columns_ex = translateDatatypes(element.datatypes,element.id,element.title)
                    columns[0] = globalThis.columns[0].concat(columns_ex['title'])
                    columns[1] = globalThis.columns[1].concat(columns_ex['fields'])
                    //globalThis.extra_columns = globalThis.extra_columns.concat(translateDatatypes(element.datatypes,element.id,element.title))
                    $.ajax({
                        async:false,
                        url:'/api/stemplate/'+element.id+'/get_instances/',
                        type:'GET',
                        success:(data) => {
                            data['instances'].forEach(element => {
                                //console.log(element.object_pk)
                                var temp = translateInstances(element.data,element.template,element.object_pk)
                                extra_data = extra_data.concat(temp)
                            });
                            //console.log(extra_data)
                            $('#loading').removeClass('d-flex')
                            $('#loading').hide()
                        },
                        error:(error) => {
                            $('#toast').removeClass('border-success text-success border-danger text-danger')
                                    .addClass('border-danger text-danger')
                            $('#toast .toast-body').text("读取数据失败："+error.responseJSON.message)
                            $('#toast').toast('show');
                        }
                    })
                }
            });
            //globalThis.extra_columns = globalThis.extra_columns.concat(option)
        },
        error:(error) => {
            $('#toast').removeClass('border-success text-success border-danger text-danger')
                    .addClass('border-danger text-danger')
            $('#toast .toast-body').text("读取数据失败："+error.responseJSON.message)
            $('#toast').toast('show');
        }
    })

    $.ajax({
        url:'/api/residents/get_by_permission/',
        type:'GET',
        success:(data) => {
            var i = 0;
            data['residents'].forEach(element => {
                //console.log(element)
                res_data[i] = {
                    'id':element.id,
                    'village':element.village[0],
                    'mgrid':element.mgrid[0],
                    'name':element.name,
                    'sex':element.sex_display,
                    'age':element.age,
                    'phone':element.phone,
                    'isLocalResident':get_bool(element.isLocalResident),
                    'outLocation':element.outLocation,
                    'b_house':element.house_name,
                    'note':element.note,
                    'option':operaFormatter(element.id,i)
                }
                i++;
                globalThis.global_index = i;
            });
            extra_data.forEach(element => {
                try{
                    Object.assign(res_data[res_data.findIndex(x => x.id == element.id)],element)
                }
                catch{
                    //不用处理
                }
            });
            //console.log(res_data.find(x => x.id == extra_data[1].id))
            //console.log(res_data.findIndex(x => x.id == extra_data[1].id))
            //console.log(res_data[18])
            $('#table').bootstrapTable('load',res_data)
            $('#table').bootstrapTable('hideLoading')
        },
        error:(error) => {
            $('#toast').removeClass('border-success text-success border-danger text-danger')
                    .addClass('border-danger text-danger')
            $('#toast .toast-body').text("读取数据失败："+error.responseJSON.message)
            $('#toast').toast('show');
        }
    });

    //var f_columns = globalThis.columns.concat(globalThis.extra_columns)
    /*Object.entries(extra_data).forEach(e => {
        console.log(e)
    })*/
    //var f_data = res_data.concat(globalThis.extra_data)
    $('#table').bootstrapTable({
        columns: columns,
        data:res_data,
        exportTypes: ['xlsx'],
        onPostBody:function(){
            {% if 'resident.can_c/d_resident' in perms %}
            load_Form()
            {% endif %}
            $('button[name="clearSearch"]').text("清空")
            $('button[aria-label="Columns"]').html(['<i class="fa-solid fa-list"></i>'].join(''))
            $('button[aria-label="Export"]').html(['<i class="fa-solid fa-download"></i>'].join(''))
        }
    })
    $('#table').bootstrapTable('hideColumn', 'id')

    function operaFormatter(id,index){
        return [
            '<div class="px-3 d-flex flex-nowarp gap-2">',
            '    <a href="/resident/'+id+'" class="btn btn-primary mx-lg-1 my-lg-0 my-1" role="button">',
            '        <i class="fa-solid fa-list"></i>',
            '    </a>',
            {% if 'resident.can_c/d_resident' in perms %}
            '    <button class="btn btn-danger my-lg-0 mx-lg-1 my-1" onclick="confirmDelete('+id+','+index+')" id="delete" data-bs-toggle="modal" data-bs-target="#myModal">',
            '        <i class="fa-solid fa-trash"></i>',
            '    </button>',
            {% endif %}
            '</div>'
        ].join('')
    }

    $('#table').bootstrapTable('showLoading')
    //$('#table').bootstrapTable('hideColumn','id')
</script>

{% endblock %}