{% extends "base_generic.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<head>
    <link href="{% static 'css/resident_list.css' %}" rel="stylesheet">
</head>
<title>统计详情 - {{title}}</title>
<!-- 信息框 -->
<div class="sticky-top">
    <div class="toast position-absolute m-3 top-0 end-0 border-success text-success" id="toast">
        <div class="toast-body">
           Toast 一些内容
        </div>
      </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">模态框标题</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框内容 -->
                <div class="modal-body">
                    模态框内容..
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="py-3 px-lg-5">
    <h2>
        <a href="{% url 'static-list-html' %}" style="text-decoration: none;">统计总览 </a>
        <span> > </span>
        <span>统计 
            <span class="h3 static-name-display" id="name"></span>
            <span class="h3 text-muted" id="is_closed">（已结束）</span>
        </span>
    </h2>
</div>

<div class="px-lg-5">
    <div class="h3 static-name-display text-center"></div>
    <div class="d-flex justify-content-center border rounded p-5" id="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <p class="h3 px-3 align-self-center">加载数据中，请稍后……</p>
    </div>
    <table id="table"
        data-locale="zh-CN"
        data-sortable="true"
        data-search="true"
        data-unique-id="id"
        data-pagination="true"
        data-page-size="15"
        data-page-list="[10, 15, 20, 50, 100, All]"
        >
        
    </table>
    {% if 'grid.can_cd_stemplate' in perms %}
    <div id="close" class="d-grid pt-3">
        <button id="closebtn" class="btn btn-danger btn-lg" onclick="confirmClose()" data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="fa-solid fa-lock"></i>
            结束统计
        </button>
    </div>
    {% endif %}
</div>



<script>
    $(document).ready(function(){
        load_template_data()
    })

    var extra_columns = []
    var dataTypes,object_type,isClosed

    function load_template_data() {
        $.ajax({
            url:'/api/stemplate/{{pk}}/',
            type:'GET',
            success:(data) => {
                $('.static-name-display').text(data.title)
                document.title = data.title + " - {{title}}"
                //console.log(data) 
                if(data.closed == true){
                    $('#close').hide()
                    $('#closebtn').hide()
                    globalThis.isClosed = true
                }else{
                    $('#is_closed').hide()
                    globalThis.isClosed = false
                }
                globalThis.dataTypes = data.datatypes
                globalThis.extra_columns = translateDatatypes(data.datatypes)
                if (!data.village) {
                    data.village = '{{user.profile.village.id}}'
                }
                load_object_by_range(data.obj,data.range,data.village,data.mgrid,data.datatypes)
            }
        })
    }
    var columns

    function load_object_by_range(object,range,village,mgrid,datatypes){
        var url,obj_name
        if(object == 'r'){
            obj_name = 'residents'
            globalThis.columns = [
                {field:'id',title:'编号',class:"id"},
                {field:'b_house',title:'户',sortable:true,class:"b_house"},
                {field:'name',title:'姓名',sortable:true,class:"name"},
                {field:'sex',title:'性别',sortable:true,class:"sex"},
                {field:'age',title:'年龄',sortable:true,class:"age"}
            ]
            if((range == 'v') || (range == 'a')){
                url = '/api/village/' + village + '/get_residents/'
            }else if(range == 'g'){
                url = '/api/mgrid/' + mgrid + '/get_residents/'
            }
        }else if(object == 'h'){
            obj_name = 'houses'
            globalThis.columns = [
                {field:'id',title:'编号',class:"id"},
                {field:'name',title:'名称',sortable:true,class:"name"},
                {field:'population',title:'人口',sortable:true,class:"population"},
                {field:'holder_name',title:'户主',sortable:true,class:"holder_name"}
            ]
            if((range == 'v') || (range == 'a')){
                url = '/api/village/'+ village + '/get_houses/'
            }else if(range == 'g'){
                url = '/api/mgrid/'+ mgrid + '/get_houses/'
            }
        }else if(object == 'g'){
            obj_name = 'mgrids'
            globalThis.columns = [
                {field:'id',title:'编号',class:"id"},
                {field:'village_name',title:'村庄',sortable:true,class:"village_name"},
                {field:'name',title:'微网格名称',sortable:true,class:"name"},
                {field:'houses_count',title:'户数',sortable:true,class:"houses"},
                {field:'pop_count',title:'人口',sortable:true,class:"pop"}
            ]
            if((range == 'v') || (range == 'a')){
                url = '/api/village/' + village + '/get_mgrids/'
            }else if(range == 'g'){
                url = '/api/mgrid/'+mgrid+'/'
            }
        }
        globalThis.object_type = obj_name
        //globalThis.columns.push(...)
        //把load_template_data()里ajax的结果中的datatypes翻译成columns追加到columns里
        //{field:'id',title:'编号',class:"id"},
        $.ajax({
            url:url,
            type:'GET',
            success:(data) => {
                var i = 0;
                var f_data = []
                var load_data = {}
                data[obj_name].forEach(element => {
                    if(object == 'r'){
                        load_data = resData(element)
                    }else if(object == 'h'){
                        load_data = husData(element)
                    }else if(object == 'g'){
                        load_data = grdData(element)
                    }
                    
                    f_data[i] = {
                        ...load_data,
                        ...loadDatatypes(datatypes,element.id)
                    }
                    i++;
                });
                var f_columns = globalThis.columns.concat(globalThis.extra_columns)
                $('#table').bootstrapTable({
                    columns: f_columns,
                    data: f_data,
                    onPostBody:function(){
                        load_table_data()
                        $('#loading').removeClass('d-flex')
                        $('#loading').hide()
                    }
                })
            }
        })
    }
    
    function load_table_data(){
        $.ajax({
            url:'/api/stemplate/{{pk}}/get_instances/',
            type:'GET',
            success:(data) => {
                //console.log(data)
                data['instances'].forEach(element => {
                    //console.log($('tr[data-uniqueid='+element.object_pk+'] .name').text())
                    Object.entries(element.data).forEach(e => {
                        //e[0] = 列编号 e[1] = 值
                        if(globalThis.isClosed == false){
                            $('tr[data-uniqueid='+element.object_pk+'] '+'.'+e[0]+' input').val(e[1])
                            $('tr[data-uniqueid='+element.object_pk+'] '+'.'+e[0]+' select').val(e[1])
                            if(typeof(e[1]) == 'boolean'){
                                $('tr[data-uniqueid='+element.object_pk+'] '+'.'+e[0]+' input').prop('checked',e[1])
                            }
                        }else{
                            if(typeof(e[1]) == 'boolean'){
                                $('tr[data-uniqueid='+element.object_pk+'] '+'.'+e[0]).html(boolFormatter(e[1]))
                            }else{
                                $('tr[data-uniqueid='+element.object_pk+'] '+'.'+e[0]+' span').text(e[1])
                            }
                        }
                    });
                    $('tr[data-uniqueid='+element.object_pk+'] '+'.option div button').removeClass('btn-primary').addClass('btn-success')
                    $('tr[data-uniqueid='+element.object_pk+'] '+'.option div button').text("更新")
                    $('tr[data-uniqueid='+element.object_pk+'] '+'.creater').text(element.creater_display)
                    $('tr[data-uniqueid='+element.object_pk+'] '+'.update_time').text(element.update_time_display)
                });
            }
        })
    }

    function resData(element) {
        return {
            'id':element.id,
            'b_house':element.house_name,
            'name':element.name,
            'sex':element.sex_display,
            'age':element.age
        }
    }

    function husData(element) {
        return {
            'id':element.id,
            'name':element.house_name,
            'population':element.pop_count,
            'holder_name':element.holder_name
        }
    }

    function grdData(element) {
        return {
            'id':element.id,
            'village_name':element.village_name,
            'name':element.name,
            'houses_count':element.houses_count,
            'pop_count':element.pop_count
        }
    }

    function translateDatatypes(datatypes) {
        var result = []
        var i = 0;
        Object.entries(datatypes).forEach(e => {
            result[i] = {field:e[0],title:e[1][0],sortable:true,class:e[0]}
            i++;
            if(i == Object.entries(datatypes).length){
                if(globalThis.isClosed == false){
                    result[i] = {field:'option',title:"操作",class:'option'}
                    result[i+1] = {field:'creater',title:"统计者",class:'creater'}
                    result[i+2] = {field:'update_time',title:"提交时间",class:'update_time'}
                }else{
                    result[i] = {field:'creater',title:"统计者",class:'creater'}
                    result[i+1] = {field:'update_time',title:"提交时间",class:'update_time'}
                }
                
            }
        });
        return result
    }

    function loadDatatypes(datatypes,id) {
        var result = {}
        var i = 0;
        Object.entries(datatypes).forEach(e => {
            const row = e[0]
            const type = e[1][1]
            var context
            if(type == 'int'){
                context = loadIntInput(row,id)
            }else if(type == 'str'){
                context = loadStrInput(row,id)
            }else if(type == 'bool'){
                context = loadBoolInput(row,id)
            }else if(type == 'datetime'){
                context = loadDateInput(row,id)
            }else if(type == 'select'){
                context = loadSelectInput(row,id,e[1])
            }
            result[row] = context
            i++;
            if(i == Object.entries(datatypes).length && globalThis.isClosed == false){
                context = optionFormatter(id)
                result['option'] = context
            }
        })
        return result
    }
    //增加一个关闭统计按钮
    //载入数据时识别此统计是否已关闭，如果已关闭，则显示不可编辑的数据
    function loadIntInput(row,id){
        if(globalThis.isClosed == false){
            return [
                '<div id="'+row+'_'+id+'">',
                '    <input type="number" class="form-control">',
                '</div>'
            ].join('')
        }else{
            return [
                '<div id="'+row+'_'+id+'">',
                '    <span>-</span>',
                '</div>'
            ].join('')
        }
        
    }

    function loadStrInput(row,id){
        if(globalThis.isClosed == false){
            return [
                '<div id="'+row+'_'+id+'">',
                '    <input type="text" class="form-control">',
                '</div>'
            ].join('')
        }else{
            return [
                '<div id="'+row+'_'+id+'">',
                '    <span>-</span>',
                '</div>'
            ].join('')
        }
        
    }

    function loadBoolInput(row,id){
        if(globalThis.isClosed == false){
            return [
                '<div id="'+row+'_'+id+'">',
                '    <input type="checkbox" class="form-check-input">',
                '</div>'
            ].join('')
        }else{
            return [
                '<div id="'+row+'_'+id+'">',
                '    <span>-</span>',
                '</div>'
            ].join('')
        }
        
    }

    function loadDateInput(row,id){
        if(globalThis.isClosed == false){
            return [
                '<div id="'+row+'_'+id+'">',
                '    <input type="date" class="form-control">',
                '</div>'
            ].join('')
        }else{
            return [
                '<div id="'+row+'_'+id+'">',
                '    <span>-</span>',
                '</div>'
            ].join('')
        }
        
    }

    function loadSelectInput(row,id,options){
        if(globalThis.isClosed == false){
            var div = document.createElement('div')
            div.id = row+'_'+id
            var select = document.createElement('select')
            select.classList.add('form-select')
            opt_list = options.slice(2)
            i = 0;
            opt_list.forEach(element => {
                var option = document.createElement('option')
                if(i == 0){
                    var empty = document.createElement('option')
                    empty.setAttribute('value','')
                    empty.innerText = '---'
                    select.appendChild(empty)
                }
                option.setAttribute('value',element)
                option.innerText = element
                select.appendChild(option)
                i++;
            });
            div.appendChild(select)

            return [div.outerHTML]
        }else{
            return [
                '<div id="'+row+'_'+id+'">',
                '    <span>-</span>',
                '</div>'
            ].join('')
        }
    }

    function optionFormatter(id){
        return [
            '<div id="submit_'+id+'">',
            '    <button class="btn btn-primary" id="submit" onclick="createInstance('+id+')">提交</button>',
            '</div>'
        ].join('')
    }

    function boolFormatter(bool){
        if(bool == true){
            return [
                '<span class="bg-success rounded badge rounded-circle d-flex justify-content-center" style="width: 24px; height: 24px;"><i class="fa-solid fa-check align-self-center"></i></span>'
            ].join('')
        }else{
            return [
                '<span class="bg-danger badge rounded-circle d-flex justify-content-center" style="width: 24px; height: 24px;"><i class="fa-solid fa-xmark align-self-center"></i></span>'
            ].join('')
        }
    }

    function createInstance(id){
        var data_list = []
        var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
        var p_data = {}
        Object.entries(globalThis.dataTypes).forEach(e => {
            //data_list.push(e[0])
            if(e[1][1] == 'select'){
                p_data[e[0]] = $('#'+e[0]+'_'+id+' select').val()
            }else if(e[1][1] == 'bool'){
                if($('#'+e[0]+'_'+id+' input').is(':checked')){
                    p_data[e[0]] = true
                }else{
                    p_data[e[0]] = false
                }
            }else{
                p_data[e[0]] = $('#'+e[0]+'_'+id+' input').val()
            }
        });
        var f_data = {}
        f_data['template'] = {{pk}}
        f_data['data'] = p_data
        const obj_name = globalThis.object_type.slice(0,-1)
        f_data[obj_name] = id
        //console.log(JSON.stringify(f_data))
        $.ajax({
            url:'/api/sinstance/',
            type:'POST',
            dataType:'json',
            data: JSON.stringify(f_data),
            contentType: 'application/json; charset=UTF-8',
            headers:{
                "X-CSRFToken": CSRFtoken,
            },
            success:(element) => {
                Object.entries(element.data).forEach(e => {
                    //e[0] = 列编号 e[1] = 值
                    $('tr[data-uniqueid='+element.object_pk+'] '+'.'+e[0]+' input').val(e[1])
                    $('tr[data-uniqueid='+element.object_pk+'] '+'.'+e[0]+' select').val(e[1])
                    if(typeof(e[1]) == 'boolean'){
                        $('tr[data-uniqueid='+element.object_pk+'] '+'.'+e[0]+' input').prop('checked',e[1])
                    }
                });
                $('tr[data-uniqueid='+element.object_pk+'] '+'.option div button').removeClass('btn-primary').addClass('btn-success')
                $('tr[data-uniqueid='+element.object_pk+'] '+'.option div button').text("更新")
                $('tr[data-uniqueid='+element.object_pk+'] '+'.creater').text(element.creater_display)
                $('tr[data-uniqueid='+element.object_pk+'] '+'.update_time').text(element.update_time_display)
                $('#toast').removeClass('border-success text-success border-danger text-danger')
                        .addClass('border-success text-success')
                $('#toast .toast-body').text("记录已更新")
                $('#toast').toast('show');
            },
            error:(error) => {
                //console.log(error)
                $('#toast').removeClass('border-success text-success border-danger text-danger')
                        .addClass('border-danger text-danger')
                $('#toast .toast-body').text("出现错误："+error.responseJSON.message)
                $('#toast').toast('show');
            }
        })
    }

    function confirmClose(){
        $('.modal-title').text("确认")
        $('.modal-body').html(
            "确定要结束 "+$('#name').text()+ " 吗？"
            + "<br> 结束后将无法再提交新数据。")
        var confirm = document.createElement('button')
        confirm.id = 'c-delete'
        confirm.classList.add('btn','btn-danger')
        confirm.innerText = "确定"
        confirm.setAttribute('data-bs-dismiss','modal')
        $('#c-delete').remove();
        $('.modal-footer').append(confirm);
        $('#c-delete').on('click',function(){
            var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
                url:'/api/stemplate/{{pk}}/close/',
                type:'DELETE',
                headers:{
                    "X-CSRFToken": CSRFtoken,
                },
                success:() => {
                    window.location.reload();
                },
                error:(error) => {
                    $('#toast').removeClass('border-success text-success border-danger text-danger')
                        .addClass('border-danger text-danger')
                    $('#toast .toast-body').text($('#name').text() + " 删除失败："+error)
                    $('#toast').toast('show');
                }
            })
        })
    }

</script>

{% endblock %}