{% extends "base_generic.html" %}
{% block content %}
{% csrf_token %}
{% load static %}
<head>
    <link href="{% static 'css/resident_list.css' %}" rel="stylesheet">
</head>
<title>统计总览 - {{title}}</title>
<!-- 信息框 -->
<div class="sticky-top">
    <div class="toast position-absolute m-3 top-0 end-0 border-success text-success" id="toast">
        <div class="toast-body">
           Toast 一些内容
        </div>
      </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">模态框标题</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框内容 -->
                <div class="modal-body">
                    模态框内容..
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="py-3 px-lg-5">
    <h2>统计总览</h2>
</div>

<div class="px-lg-5">
    <table id="table"
        data-locale="zh-CN"
        data-toggle="table"
        data-sortable="true"
        data-search="true"
        data-pagination="true"
        data-page-size="15"
        data-page-list="[10, 15, 20, 50, 100, All]"
        >

    </table>
    {% if 'grid.can_cd_stemplate' in perms %}
    <div class="d-grid rounded border p-3 border-3" style="border-style:dashed !important;">
        <a href="{% url 'static-create-html' %}" role="button" class="btn btn-success btn-lg">
            <i class="fa-solid fa-plus"></i>
            新建统计
        </a>
    </div>
    {% endif %}
</div>

<script>
    var columns = [
        {field:'id',title:'编号',class:"id"},
        {field:'title',title:'标题',sortable:true,class:"title"},
        {field:'range_display',title:'范围',sortable:true,class:"range"},
        {field:'object_display',title:'对象',sortable:true,class:"object"},
        {field:'creater_display',title:'创建者',sortable:true,class:"creater"},
        {field:'create_date',title:'创建日期',sortable:true,class:"create_date"},
        {field:'status',title:'状态',sortable:true,class:"status"},
        {field:'option',title:'操作',class:"option"}
    ]

    var stc_data = []

    function confirmDelete(id,index){
        var datacol = $('tr[data-index='+ index +']');
        $('.modal-title').text("确认")
        $('.modal-body').html(
            "确定要删除 "+$('.title',datacol).text()+ " 吗？"
            + "<br> 该统计的所有结果都将一并删除。")
        var confirm = document.createElement('button')
        confirm.id = 'c-delete'
        confirm.classList.add('btn','btn-danger')
        confirm.innerText = "确定"
        confirm.setAttribute('data-bs-dismiss','modal')
        $('#c-delete').remove();
        $('.modal-footer').append(confirm);
        $('#c-delete').on('click',function(){
            var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
            //var pk = parseInt(id)
            $.ajax({
                url:'/api/stemplate/'+id+'/',
                type:'DELETE',
                headers:{
                    "X-CSRFToken": CSRFtoken,
                },
                success:() => {
                    $('#table').bootstrapTable('hideRow', {
                        index: index
                    })
                    $('#toast').removeClass('border-success text-success border-danger text-danger')
                        .addClass('border-success text-success')
                    $('#toast .toast-body').text($('.title',datacol).text()+ " 已删除")
                    $('#toast').toast('show');
                },
                error:(error) => {
                    $('#toast').removeClass('border-success text-success border-danger text-danger')
                        .addClass('border-danger text-danger')
                    $('#toast .toast-body').text($('.title',datacol).text() + " 删除失败："+error)
                    $('#toast').toast('show');
                }
            })
        })
    }

    function optionFormatter(id,index){
        return [
            '<div>',
            '    <a href="/statistics/'+id+'" class="btn btn-primary mx-lg-1 my-lg-0 my-1" role="button">',
            '        <i class="fa-solid fa-list"></i> 查看详情',
            '    </a>',
            '    <button class="btn btn-danger mx-lg-1 my-lg-0 my-1" onclick="confirmDelete('+id+','+index+')" id="delete" data-bs-toggle="modal" data-bs-target="#myModal">',
            '        <i class="fa-solid fa-trash"></i> 删除',
            '    </button>',
            '</div>'
        ].join('')
    }

    function statusFormatter(status){
        if(status == false){
            return [
                '<div>',
                '    <span class="badge bg-success">进行中</span>',
                '</div>'
            ].join('')
        }else{
            return [
                '<div>',
                '    <span class="badge bg-danger">已结束</span>',
                '</div>'
            ].join('')
        }
    }

    $.ajax({
        async:false,
        url:'/api/stemplate/get_by_permission/',
        type:'GET',
        success:(data) => {
            var i = 0;
            data['sTemplate'].forEach(element => {
                stc_data[i] = {
                    'id':element.id,
                    'title':element.title,
                    'range_display':element.range_display,
                    'object_display':element.object_display,
                    'creater_display':element.creater_display,
                    'create_date':element.create_date,
                    'status':statusFormatter(element.closed),
                    'option':optionFormatter(element.id,i)
                }
                i++;
            });
        }
    })

    $('#table').bootstrapTable({
        columns: columns,
        data: stc_data
    })

</script>

{% endblock %}